vendor/
node_modules/

# Laravel 5 & Lumen specific
storage/*.key
.env

# Application specific
public/.htaccess
public/openapi.yaml
database/*.sqlite
phpunit.xml
public/docs/
public/phpliteadmin/*
!public/phpliteadmin/phpliteadmin.config.app.php
public/lib.js

# IDE specific
.vscode/
.idea/
